<div class="container text-center" style="width: 400px;">

  <%= form_with(model: moving, local: true) do |form| %>
    <% if moving.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(moving.errors.count, "error") %> prohibited this moving from being saved:</h2>
        <ul>
          <% moving.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :引越予定日を入力してください %>
      <%= form.date_field :moving_day, class: 'form-control' %>
    </div>

    <div class="actions mt-5">
      <%= form.submit "登録する", class:'btn btn-block btn-primary btn-sm' %>
    </div>

  <% end %>
</div>
  





