<div class="container" >
  <h1 class="mt-5 text-center">タスク一覧</h1>
  <p class="h5 my-3  text-center">引越日：<%= current_user.movings.first.moving_day.strftime("%Y/%m/%d") %></p>
  
  <ul id="simpleList" class="list-group mt-4">

    <p>1ヶ月前（<%= current_user.movings.first.moving_day.ago(1.month).strftime("%Y/%m/%d") %>）まで</p>

    <% @one_month_before_tasks.each do |task| %>
      <li class="list-group-item list-group-item-secondary mb-3 " >
      <%= check_box_tag '', '' , task.done, {'data-id' => task.id } %>
      <%= task.title %>
        <div class="text-right">
          <%= link_to task, class: 'btn btn-primary btn-sm' do %>
            <i class="fas fa-search"></i>
          <% end %>

          <%= link_to edit_task_path(task), class: 'btn btn-primary btn-sm' do %>
            <i class="fa-solid fa-pen-to-square"></i>
          <% end %>
          <%= link_to task, class: 'btn btn-primary btn-sm', method: :delete, data: { confirm: '本当に消していいですか?' } do %>
            <i class="fa-solid fa-trash-can"></i>
          <% end %>
          <%= link_to "↑", move_higher_task_path(task) %>
          <%= link_to "↓", move_lower_task_path(task) %>
        </div>
      </li>
    <% end %>
    
    <p>14日前（<%= (current_user.movings.first.moving_day - 14).strftime("%Y/%m/%d") %>）まで</p>
    
    <% @fourteen_days_ago_tasks.each do |task| %>
      <li class="list-group-item list-group-item-secondary mb-3" >
      <%= check_box_tag '', '' , task.done, {'data-id' => task.id } %>
      <%= task.title %>
      
        <div class="text-right">
          <%= link_to task, class: 'btn btn-primary btn-sm' do %>
            <i class="fas fa-search"></i>
          <% end %>

          <%= link_to edit_task_path(task), class: 'btn btn-primary btn-sm' do %>
            <i class="fa-solid fa-pen-to-square"></i>
          <% end %>
          
          <%= link_to task, class: 'btn btn-primary btn-sm', method: :delete, data: { confirm: '本当に消していいですか?' } do %>
            <i class="fa-solid fa-trash-can"></i>
          <% end %>
          <%= link_to "↑", move_higher_task_path(task) %>
          <%= link_to "↓", move_lower_task_path(task) %>
        </div>
      </li>
    <% end %>
  
    <p>10日前（<%= (current_user.movings.first.moving_day - 10).strftime("%Y/%m/%d") %>）まで</p>

    <% @ten_days_ago_tasks.each do |task| %>
      <li class="list-group-item list-group-item-secondary mb-3" >
      <%= check_box_tag '', '' , task.done, {'data-id' => task.id } %>
      <%= task.title %>
      
        <div class="text-right">
          <%= link_to task, class: 'btn btn-primary btn-sm' do %>
            <i class="fas fa-search"></i>
          <% end %>

          <%= link_to edit_task_path(task), class: 'btn btn-primary btn-sm' do %>
            <i class="fa-solid fa-pen-to-square"></i>
          <% end %>
          
          <%= link_to task, class: 'btn btn-primary btn-sm', method: :delete, data: { confirm: '本当に消していいですか?' } do %>
            <i class="fa-solid fa-trash-can"></i>
          <% end %> 
          <%= link_to "↑", move_higher_task_path(task) %>
          <%= link_to "↓", move_lower_task_path(task) %>
        </div>
      </li>
    <% end %>
  
    <p>1週間前（<%= (current_user.movings.first.moving_day - 7).strftime("%Y/%m/%d") %>）まで</p>

    <% @one_week_before_tasks.each do |task| %>
      <li class="list-group-item list-group-item-secondary mb-3" >
      <%= check_box_tag '', '' , task.done, {'data-id' => task.id } %>
      <%= task.title %>
      
        <div class="text-right">
          <%= link_to task, class: 'btn btn-primary btn-sm' do %>
            <i class="fas fa-search"></i>
          <% end %>

          <%= link_to edit_task_path(task), class: 'btn btn-primary btn-sm' do %>
            <i class="fa-solid fa-pen-to-square"></i>
          <% end %>

          <%= link_to task, class: 'btn btn-primary btn-sm', method: :delete, data: { confirm: '本当に消していいですか?' } do %>
            <i class="fa-solid fa-trash-can"></i>
          <% end %>
          <%= link_to "↑", move_higher_task_path(task) %>
          <%= link_to "↓", move_lower_task_path(task) %>
        </div>
      </li>
    <% end %>
  
    <p>前日（<%= (current_user.movings.first.moving_day - 1).strftime("%Y/%m/%d") %>）まで</p>

    <% @the_day_before_tasks.each do |task| %>
      <li class="list-group-item list-group-item-secondary mb-3" >
      <%= check_box_tag '', '' , task.done, {'data-id' => task.id } %>
      <%= task.title %>
      
        <div class="text-right">
          <%= link_to task, class: 'btn btn-primary btn-sm' do %>
            <i class="fas fa-search"></i>
          <% end %>

          <%= link_to edit_task_path(task), class: 'btn btn-primary btn-sm' do %>
            <i class="fa-solid fa-pen-to-square"></i>
          <% end %>
          
          <%= link_to task, class: 'btn btn-primary btn-sm', method: :delete, data: { confirm: '本当に消していいですか?' } do %>
            <i class="fa-solid fa-trash-can"></i>
          <% end %>
          <%= link_to "↑", move_higher_task_path(task) %>
          <%= link_to "↓", move_lower_task_path(task) %>
        </div>
      </li>
    <% end %>
  
    <p>当日（<%= (current_user.movings.first.moving_day).strftime("%Y/%m/%d") %>）</p>
    
    <% @moving_day_tasks.each do |task| %>
      <li class="list-group-item list-group-item-secondary mb-3" >
      <%= check_box_tag '', '' , task.done, {'data-id' => task.id } %>
      <%= task.title %>
      
        <div class="text-right">
          <%= link_to task, class: 'btn btn-primary btn-sm' do %>
            <i class="fas fa-search"></i>
          <% end %>

          <%= link_to edit_task_path(task), class: 'btn btn-primary btn-sm' do %>
            <i class="fa-solid fa-pen-to-square"></i>
          <% end %>
          
          <%= link_to task, class: 'btn btn-primary btn-sm', method: :delete, data: { confirm: '本当に消していいですか?' } do %>
            <i class="fa-solid fa-trash-can"></i>
          <% end %>
          <%= link_to "↑", move_higher_task_path(task) %>
          <%= link_to "↓", move_lower_task_path(task) %>
        </div>
      </li>
    <% end %>
  
    <p>1週間後（<%= (current_user.movings.first.moving_day + 7).strftime("%Y/%m/%d") %>）まで</p>

    <% @after_a_week_tasks.each do |task| %>
      <li class="list-group-item list-group-item-secondary mb-3" >
      <%= check_box_tag '', '' , task.done, {'data-id' => task.id } %>
      <%= task.title %>
      
        <div class="text-right">
          <%= link_to task, class: 'btn btn-primary btn-sm' do %>
            <i class="fas fa-search"></i>
          <% end %>

          <%= link_to edit_task_path(task), class: 'btn btn-primary btn-sm' do %>
            <i class="fa-solid fa-pen-to-square"></i>
          <% end %>

          <%= link_to task, class: 'btn btn-primary btn-sm', method: :delete, data: { confirm: '本当に消していいですか?' } do %>
            <i class="fa-solid fa-trash-can"></i>
          <% end %>
          <%= link_to "↑", move_higher_task_path(task) %>
          <%= link_to "↓", move_lower_task_path(task) %>
        </div>
      </li>
    <% end %>
  
    <p>2週間後（<%= (current_user.movings.first.moving_day + 14).strftime("%Y/%m/%d") %>）まで</p>

    <% @two_weeks_later_tasks.each do |task| %>
      <li class="list-group-item list-group-item-secondary mb-3" >
      <%= check_box_tag '', '' , task.done, {'data-id' => task.id } %>
      <%= task.title %>
      
        <div class="text-right">
          <%= link_to task, class: 'btn btn-primary btn-sm' do %>
            <i class="fas fa-search"></i>
          <% end %>

          <%= link_to edit_task_path(task), class: 'btn btn-primary btn-sm' do %>
            <i class="fa-solid fa-pen-to-square"></i>
          <% end %>

          <%= link_to task, class: 'btn btn-primary btn-sm', method: :delete, data: { confirm: '本当に消していいですか?' } do %>
            <i class="fa-solid fa-trash-can"></i>
          <% end %>
          <%= link_to "↑", move_higher_task_path(task) %>
          <%= link_to "↓", move_lower_task_path(task) %>
        </div>
      </li>
    <% end %>
  
    <p>1ヶ月後（<%= current_user.movings.first.moving_day.since(1.month).strftime("%Y/%m/%d") %>）まで</p>
  

    <% @one_month_later_tasks.each do |task| %>
      <li class="list-group-item list-group-item-secondary mb-3" >
      <%= check_box_tag '', '' , task.done, {'data-id' => task.id } %>
      <%= task.title %>
      
        <div class="text-right">
          <%= link_to task, class: 'btn btn-primary btn-sm' do %>
            <i class="fas fa-search"></i>
          <% end %>

          <%= link_to edit_task_path(task), class: 'btn btn-primary btn-sm' do %>
            <i class="fa-solid fa-pen-to-square"></i>
          <% end %>
          
          <%= link_to task, class: 'btn btn-primary btn-sm', method: :delete, data: { confirm: '本当に消していいですか?' } do %>
            <i class="fa-solid fa-trash-can"></i>
          <% end %>
          <%= link_to "↑", move_higher_task_path(task) %>
          <%= link_to "↓", move_lower_task_path(task) %>
        </div>
      </li>
    <% end %>
  </ul>
</div>

<script type="text/javascript">

  $(function(){
    $("input[type=checkbox]").click(function(){
      $.post('/tasks/' + $(this).data('id') + '/toggle');
    })
  })

</script>




