<div class="container" >
  <div class="card card-body mt-5 ">

    <p>
      <strong>Deadline:</strong>
      <%= @task.deadline %>
    </p>

    <p>
      <strong>Title:</strong>
      <%= @task.title %>
    </p>

    <p>
      <strong>Content:</strong>
      <%= @task.content %>
    </p>

  </div>

  <div class="card card-body mt-5 ">
  <!-- hr style="border-top: 5px solid #000;" -->
    <p>保存したメモ</p>
    <% unless @memo.id.present? %>
      <p>現在保存されているメモはありません</p>
    <% else %>
      <td></td>
    <% end %>
    <!-- このmemos_areaというHTMLのidを取得して、そのdivの部分だけを更新する -->
    <div id="memos_area">
      <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
      <%= render partial: 'memos/index', locals: { memos: @memos, task: @task } %>
    </div>
    <br>
    
    <!--  <p>メモを書く</p> -->
    <br>
    <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
    <%= render partial: 'memos/form', locals: { memo: @memo, task: @task } %>
  </div>

  <%= link_to 'タスクを編集する', edit_task_path(@task) %>

</div>
