<div class="container" style=" margin-top: 100px;" >

  <div class="card card-body">

    <p>
      <strong>期限</strong><br>
      <%= @task.deadline %>
    </p>

    <p>
      <strong>タイトル</strong><br>
      <%= @task.title %>
    </p>

    <p>
      <strong>タスク補足情報</strong><br>
      <%= @task.content %>
    </p>

  </div>

  <div class="card card-body mt-5 ">
  <!-- hr style="border-top: 5px solid #000;" -->
    <p>保存したメモ</p>
    <!-- このmemos_areaというHTMLのidを取得して、そのdivの部分だけを更新する -->
    <div id="memos_area">
      <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
      <%= render partial: 'memos/index', locals: { memos: @memos, task: @task } %>
    </div>
    <br>
    
    <!--  <p>メモを書く</p> -->
    <br>
    <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
    <%= render partial: 'memos/form', locals: { memo: @memo, task: @task } %>
  </div>

  <%= link_to 'タスクを編集する', edit_task_path(@task) %>

</div>
