<div class="container text-center">

  <br>
  <h4><%= @user.name %>のページ</h4>
  <br>
  <p>本日<%= @today %></p>
  <p>引越日<%= @user_moving_day %></p>
  <br>   
  <p>引越まであと<%= (@user_moving_day -  @today).to_i %>日</p>
  <br>

  <% if @user_moving_day.present?  %>
    <%#= link_to "引越日を変更する", edit_moving_path(@user_moving_day) %>
    <%#= link_to "引越日を変更する", edit_moving_path(@moving) %>
    <%= link_to "引越日を変更する", new_moving_path %>
  <% else %>
    <%= link_to "引越日を設定する", new_moving_path %>
  <% end %>

<p>質問に回答する</p>
</div>
