<!DOCTYPE html>
<html>
  <head>
    <title>MovingSupport</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style>
      body { padding-bottom: 100px; }
    </style>

  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to "å¼•è¶Šã‚µãƒãƒ¼ãƒˆðŸšš", root_path , class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <%# if user_signed_in? %>
          <% if user_signed_in? && current_user.movings.present?  %>
            <% if current_user.try(:admin?) %>
              <a class="nav-item nav-link"><%= link_to "ç®¡ç†è€…ãƒšãƒ¼ã‚¸", rails_admin_path %></a>
            <% end %>
            <a class="nav-item nav-link"><%= link_to "ã‚¿ã‚¹ã‚¯ä¸€è¦§", tasks_path %></a>
            <a class="nav-item nav-link"><%= link_to 'ã‚¿ã‚¹ã‚¯ã‚’ç™»éŒ²ã™ã‚‹', new_task_path %></a>
            <a class="nav-item nav-link"><%= link_to "ãƒ›ãƒ¼ãƒ ç”»é¢", user_path(current_user) %></a>
            <a class="nav-item nav-link"><%= link_to "ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ", destroy_user_session_path, method: :delete %></a>
          <% elsif user_signed_in? %>
            <a class="nav-item nav-link"><%= link_to "ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ", destroy_user_session_path, method: :delete %></a>
          <% else %>
            <a class="nav-item nav-link"><%= link_to "æ–°è¦ç™»éŒ²", new_user_registration_path %></a>
            <a class="nav-item nav-link"><%= link_to "ãƒ­ã‚°ã‚¤ãƒ³", new_user_session_path %></a>
            <a class="nav-item nav-link"><%= link_to "ã‚²ã‚¹ãƒˆãƒ­ã‚°ã‚¤ãƒ³", users_guest_sign_in_path, method: :post %></a>
            <a class="nav-item nav-link"><%= link_to "ã‚²ã‚¹ãƒˆç®¡ç†è€…ãƒ­ã‚°ã‚¤ãƒ³", users_admin_guest_sign_in_path, method: :post %></a>
          <% end %>
        </div>
      </div>
    </nav>

    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>
    <%= yield %>

    <footer class="fixed-bottom text-center text-black bg-light" style="height: 100px;">
      <div class="container p-5 h5">Â© 2022 Yuki-Saito All Rights Reserved.</div>
    </footer>
  </body>
</html>
